[submodule "submodules/Dual-Birth-Simulator"]
	path = submodules/Dual-Birth-Simulator
	url = https://github.com/niemasd/Dual-Birth-Simulator.git
[submodule "submodules/CompactTree"]
	path = submodules/CompactTree
	url = https://github.com/niemasd/CompactTree.git
[submodule "submodules/genesis"]
	path = submodules/genesis
	url = https://github.com/lczech/genesis.git
